$light: #F9FAFC;
$primary: #003686;
$danger: #b3340e;
$transation: all ease-in-out 0.3s;
$transation05: all ease-in-out 0.5s;
// $theme-colors: (
//   "primary": $primary,
//   "light": $light,
//   "danger": $danger
// );