<!-- Swiper -->
<div class="swiper slide-home">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="img-fluid d-none d-lg-block mb-3 " src="https://placehold.jp/1600x900.png" alt="alt-text" />
            <div class="d-flex position-absolute text-banner flex-column">
                <h1 class="animated fadeInUpBanner transition-delay50">Elfin</h1>
                <div class="sum animated fadeInUpBanner transition-delay100">Collaborative Robot</div>
                <a href="#"
                    class="d-flex align-items-center text-nowrap justify-content-center animated fadeInUpBanner transition-delay510">More
                    <i class="ms-2 small bi bi-chevron-right"></i></a>
            </div>
        </div>
        <div class="swiper-slide"><img class="img-fluid d-none d-lg-block mb-3 " src="https://placehold.jp/1600x900.png"
                alt="alt-text" />
            <div class="d-flex position-absolute text-banner flex-column">
                <h1 class="animated fadeInUpBanner transition-delay50">Elfin</h1>
                <div class="sum animated fadeInUpBanner transition-delay100">Collaborative Robot</div>
                <a href="#"
                    class="d-flex align-items-center text-nowrap justify-content-center animated fadeInUpBanner transition-delay510">More
                    <i class="ms-2 small bi bi-chevron-right"></i></a>
            </div>
        </div>
        <div class="swiper-slide"><img class="img-fluid d-none d-lg-block mb-3 " src="https://placehold.jp/1600x900.png"
                alt="alt-text" />
            <div class="d-flex position-absolute text-banner flex-column">
                <h1 class="animated fadeInUpBanner transition-delay50">Elfin</h1>
                <div class="sum animated fadeInUpBanner transition-delay100">Collaborative Robot</div>
                <a href="#"
                    class="d-flex align-items-center text-nowrap justify-content-center animated fadeInUpBanner transition-delay510">More
                    <i class="ms-2 small bi bi-chevron-right"></i></a>
            </div>
        </div>
        <div class="swiper-slide">
            {{>./../layouts/footer}}
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>