.contact-form {
  .form-control {
    padding: 0.75rem;
    border-radius: 0;
    border: 0;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}
.outner-form-control {
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: $primary;
    content: "";
    transition: $transation;
  }
  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
      width: 100%;
    }
  }
}
